<script>
//get parameters from rCharts
var params = {{{ chartParams }}}

var width = params.width,
    height = params.height;

var grid = d3.layout.grid()
  .rows( params.nrow )
  .cols( params.ncol )
  .size([ params.size, params.size]);

if (params.bands == true) {
    grid.bands();
} else {
    grid.points();
}
    
var svg = d3.select(params.container).append("svg")
  .attr({
    width: width,
    height: height
  });

var svgGrid = svg.append("g")
  .attr("transform", "translate(100,50)");

var cells = svgGrid.selectAll("g")
  .data(grid(d3.entries(params.data.map(function(d,i) { return [d]; }))))  //thanks http://stackoverflow.com/questions/3751520/how-to-generate-sequence-of-numbers-chars-in-javascript
    .enter()
      .append("g")
        .attr("class", "cell")
        .attr("id", function(d) { return +d.key;})
        .attr("transform", function(d, i) {
           return "translate(" + d.x + "," + d.y + ")"
         });

</script>
